[submodule "personal"]
	path = personal
	url = git@github.com:mbledkowski/personal.git
[submodule "public/urwgeometric"]
  path = public/urwgeometric
  url = git@github.com:mbledkowski/urwgeometric_font
[submodule "public/pressgothicpro"]
	path = public/pressgothicpro
	url = git@github.com:mbledkowski/pressgothicpro_font
